#RabbitMQ daemon/service connection
[RABBITMQ]
HOST = localhost
PORT = 5672
USERNAME = guest
PASSWORD = guest

#CKAN service connection
[CKAN]
ADDRESS = http://demo.ckan.org
APIKEY = your_api_key

#Services
[SERVICES]
EEA = http://www.eea.europa.eu/data-and-maps/data
SDS = http://semantic.eea.europa.eu/sparql
ODP = https://open-data.europa.eu/en/data/publisher/eea
